# RStudio project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# python virtual environment
.venv

# input/output data files
data/

# Google Earth Engine service account credentials
service-account.json

# Environment files
.env*

# Targets
_targets/
